/.metadata/
/PRB-BBVA/
/Prueba-Tecnica-Inbursa/
/PruebaTecnica_AdeA/
# /Prueba_Tecnica_-_AdeA_Mexico/
/Prueba_Tecnica_-_AdeA_Mexico/HELP.md
/Prueba_Tecnica_-_AdeA_Mexico/target/classes/
/Prueba_Tecnica_-_AdeA_Mexico/target/generated-sources/
/Prueba_Tecnica_-_AdeA_Mexico/target/generated-test-sources/
/Prueba_Tecnica_-_AdeA_Mexico/target/maven-archiver/
/Prueba_Tecnica_-_AdeA_Mexico/target/maven-status/
/Prueba_Tecnica_-_AdeA_Mexico/target/test-classes/
/Prueba_Tecnica_-_AdeA_Mexico/src/test/
/Prueba_Tecnica_-_AdeA_Mexico/src/main/java/META-INF/persistence.xml_respaldo

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/