/.metadata/
/PRB-BBVA/
/PruebaTecnica_AdeA/
/Prueba_Tecnica_-_AdeA_Mexico/src/test/
/Prueba_Tecnica_-_AdeA_Mexico/src/main/java/META-INF/persistence.xml_respaldo
/Prueba-Tecnica-Inbursa/
/Prueba-Tecnica-Inbursa/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/