<!DOCTYPE html>
<html lang="es_MX" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gestion de Usuarios</title>
	
	<!-- Bootstrap - CSS - v5.3.3 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<!-- Bootstrap - JS - v5.3.3 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
	<!-- jQuery library -->
	<!-- script src="jquery-3.7.1.js"></script> -->
	<!-- <script src="./jquery-3.7.1.js"></script> -->
	<!-- <script src="js/jquery-3.7.1.js"></script> -->
	<!-- <script src="/Prueba_Tecnica_-_AdeA_Mexico/src/main/resources/templates/js/jquery-3.7.1.js"></script> -->
	<!-- <script src="D:/ec1lipse-workspace/Prueba-Tecnica-AdeA-Mexico/Prueba_Tecnica_-_AdeA_Mexico/src/main/resources/templates/js/jquery-3.7.1.js"></script> -->	
	
	<!-- JQuery 3.7.1-->
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<!-- Bootstrap - JS - v5.3.3 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	

</head>
<body>
	<div class="container text-center">
		<h1>Gestión de Usuarios</h1>	
	</div>
	&nbsp;&nbsp;&nbsp;
	
	<div id="modal-GestionUsuarios-Msj" class="modal" >
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">

				<!-- Header -->
				<div class="modal-header text-start">

					<!-- "btn-close": Dibuja un botón de cierre en la esquina superior derecha
						"data-bs-dismiss:  modal" habilita la función del botón cerrar al Modal 
						"class=modal-title": Es el titulo del modal
					-->
					<h4 id="modal-GestionUsuarios-header" class="modal-title"></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Body -->
				<div id="modal-GestionUsuarios-body" class="modal-body">
					
				</div>

				<!-- Footer -->
				<div id="modal-GestionUsuarios-footer" class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
				</div>

			</div>
		</div>
	</div>

	<!--ALTAS DE USUARIO-->
	<div class="container mb-1">
		<div class="card">
			<form id="formAlta" action="">
				<div class="card-header bg-primary text-white text-center"> 
					<h4><b>Altas de Usuario </b></h4>
				</div>
				<div class="card-body bg-light"> 
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Login:</b></span>
						<input id="alta-login" name="login" type="text" class="form-control" placeholder="Nombre de usuario"
						maxlength="20" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Contraseña:</b></span>
						<input id="alta-pass" name="pass" type="text" class="form-control" placeholder="Contraseña de usuario"
						maxlength="20" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Nombre:</b></span>
						<input id="alta-nombre" name="nombre" type="text" class="form-control" placeholder="Nombre(s)"
						maxlength="50" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Cliente:</b></span>
						<input id="alta-cliente" name="cliente" type="number" class="form-control" placeholder="Número de cliente"
						maxlength="5" max="80000" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>E-mail:</b></span>
						<input id="alta-email" name="email" type="email" class="form-control" placeholder="Correo electrónico"
						maxlength="50">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Alta:</b></span>
						<input id="alta-fechaalta" name="fechaalta" type="date" class="form-control" placeholder="Fecha de Alta"
						value="">
					</div>
					
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Baja:</b></span>
						<input id="alta-fechabaja" name="fechabaja" type="date" class="form-control" placeholder="Fecha de Baja">
					</div>
					
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Estatus:</b></span>
						<select id="alta-estatus" name="estatus" class="form-select" placeholder="A=Activo, B=Inactivo, R=Revocado" 
						required>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="R">R</option>
						</select>
					</div>
										
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Intentos:</b></span>
						<input id="alta-intentos" name="intentos" type="number" class="form-control" placeholder="Intentos"
						value="0" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Revocado:</b></span>
						<input id="alta-fecharevocado" name="fecharevocado" type="date" class="form-control" placeholder="Fecha de Revocado">
					</div>
										
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Vigencia:</b></span>
						<input id="alta-fechaVigencia" name="fechaVigencia" type="date" class="form-control" placeholder="Fecha de Vigencia">
					</div>
										
					<div class="input-group mb-1">
						<span class="input-group-text"><b>No. Acceso:</b></span>
						<input id="alta-noAcceso" name="noAcceso" type="number" class="form-control" placeholder="Nombre de usuario"
						value="1" max="100" min="1">
					</div>
										
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Apellido Paterno:</b></span>
						<input id="alta-apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno"
						maxlength="50">
					</div>					
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Apellido Materno:</b></span>
						<input id="alta-apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno"
						maxlength="50">
					</div>					
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Area:</b></span>
						<input id="alta-area" name="area" type="number" class="form-control" placeholder="Area"
						maxlength="4" max="9999">
					</div>		
					<!--			
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Modificación:</b></span>
						<input id="alta-fechamodificacion" name="fechamodificacion" type="text" class="form-control" placeholder="Nombre de usuario"
						required>
					</div>					
					-->
					<!-- ejemplo
					<div class="input-group mb-1">
						<span class="input-group-text">@</span>
						<input type="email" class="form-control" placeholder="Username" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">date</span>
						<input id="prb-date" type="date" class="form-control" placeholder="Username" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">datetime</span>
						<input id="prb-datetime" type="datetime" class="form-control" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">datetime-local</span>
						<input id="prb-datetime-local" type="datetime-local" class="form-control" placeholder="Username" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">month</span>
						<input id="prb-month" type="month" class="form-control" placeholder="Username" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">range</span>
						<input id="prb-range" type="range" min="1" max="21" step="5" class="form-control" placeholder="Username" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">reset</span>
						<input id="prb-reset" type="reset" class="form-control" placeholder="Username" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">time</span>
						<input id="prb-time" type="time" class="form-control" placeholder="Username" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">week</span>
						<input id="prb-week" type="week" class="form-control" placeholder="Username" name="usrname">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text">tel</span>
						<input id="prb-tel" type="tel" class="form-control" placeholder="Username" name="usrname">
					</div>
				-->					
				</div>
				<div class="card-footer mx-auto bg-secondary text-light">
					<button id="alta-submit" class="btn btn-primary text-center w-100" type="submit">Registrar</button>
				</div>
			</form>
		</div>
	</div>
	<br>

	<span></span>

	<!--MODIFICACIONES DE USUARIO-->
	<div class="container mb-1">
		<div class="card">
			<form id="formModif" action="">
				<div class="card-header bg-warning text-center"> 
					<h4><b>Modificaciones de Usuario</b></h4>
				</div>
				<div class="card-body bg-light">
					<label class="form-label">Ingrese el "login" del usuario que desea modificar y luego presione el botón 
						<b>"Buscar"</b> para buscar sus información. Presione el botón de <b>"Modificar"</b> para cambiar datos del usuario:
					</label> 
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Login:</b></span>
						<input id="modif-login-buscador" name="login" type="text" class="form-control" placeholder="Nombre de usuario"
						maxlength="20" required>
						<button id="modif-buscar" class="btn btn-warning text-dark btn-busqueda" type="button"><b>BUSCAR</b></button>
					</div>				
					
					<hr class="hr">

					<label class="form-label">Datos del Usuario encontrados:</label> &nbsp;
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Login:</b></span>
						<input id="modif-login" name="login" type="text" class="form-control" placeholder="Nombre de usuario"
						maxlength="20" required readonly> <!-- Agregar readonly -->
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Contraseña:</b></span>
						<input id="modif-pass" name="pass" type="text" class="form-control" placeholder="Contraseña de usuario"
						maxlength="20" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Nombre:</b></span>
						<input id="modif-nombre" name="nombre" type="text" class="form-control" placeholder="Nombre(s)"
						maxlength="50" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Cliente:</b></span>
						<input id="modif-cliente" name="cliente" type="number" class="form-control" placeholder="Número de cliente"
						maxlength="5" max="80000" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>E-mail:</b></span>
						<input id="modif-email" name="email" type="text" class="form-control" placeholder="Correo electrónico"
						maxlength="50">
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Alta:</b></span>
						<input id="modif-fechaalta" name="fechaalta" type="date" class="form-control" placeholder="Fecha de Alta"
						value="">
					</div>
					
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Baja:</b></span>
						<input id="modif-fechabaja" name="fechabaja" type="date" class="form-control" placeholder="Fecha de Baja">
					</div>
					
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Estatus:</b></span>
						<select id="modif-estatus" name="estatus" class="form-select" placeholder="A=Activo, B=Inactivo, R=Revocado" 
						required>
							<option>A</option>
							<option>B</option>
							<option>R</option>
						</select>
					</div>
										
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Intentos:</b></span>
						<input id="modif-intentos" name="intentos" type="number" class="form-control" placeholder="Intentos"
						value="0" required>
					</div>

					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Revocado:</b></span>
						<input id="modif-fecharevocado" name="fecharevocado" type="date" class="form-control" placeholder="Fecha de Revocado">
					</div>
										
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Vigencia:</b></span>
						<input id="modif-fechaVigencia" name="fechaVigencia" type="date" class="form-control" placeholder="Fecha de Vigencia">
					</div>
										
					<div class="input-group mb-1">
						<span class="input-group-text"><b>No. Acceso:</b></span>
						<input id="modif-noAcceso" name="noAcceso" type="number" class="form-control" placeholder="Nombre de usuario"
						value="1" max="100" min="1">
					</div>
										
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Apellido Paterno:</b></span>
						<input id="modif-apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno"
						maxlength="50">
					</div>					
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Apellido Materno:</b></span>
						<input id="modif-apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno"
						maxlength="50">
					</div>					
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Area:</b></span>
						<input id="modif-area" name="area" type="number" class="form-control" placeholder="Area"
						maxlength="4" max="9999">				
					</div>
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Fecha de Modificación:</b></span>
						<input id="modif-fechamodificacion" name="fechamodificacion" type="date" class="form-control" placeholder="Fecha de Modificación"
						readonly>
					</div>

				</div>
				<div class="card-footer bg-secondary text-light">
					<button id="modif-submit" class="btn btn-warning text-dark w-100" type="submit"><b>Modificar datos del Usuario</b></button>
				</div>
			</form>
		</div>
	</div>
	<br>
	
	<span></span>
	
	<!--BAJAS DE USUARIO-->
	<div class="container mb-1">
		<div class="card">
			<form id="formBaja" action="">
				<div class="card-header bg-danger text-white text-center"> 
					<h4><b>Bajas de Usuario</b></h4>
				</div>
				<div class="card-body bg-light"> 
					<label class="form-label">Ingrese el "login" del usuario que quiere eliminar y presione el botón 
						<b>"Buscar"</b> para buscar sus datos. Presione el botón de <b>"Eliminar"</b> para borrar al usuario:
					</label> 
					<div class="input-group mb-1">
						<span class="input-group-text"><b>Login:</b></span>
						<input id="baja-login-buscador" name="login" type="text" class="form-control" placeholder="ID de usuario"
						maxlength="20" required>
						<button id="baja-buscar" class="btn btn-danger text-dark btn-busqueda" type="button"><b>Buscar</b></button>
					</div>								
					
					<hr class="hr">	
					
					<div class="input-group mb-1">
							<span class="input-group-text"><b>Login:</b></span>
							<input id="baja-login" name="login" type="text" class="form-control" placeholder="Nombre de usuario"
							maxlength="20" disabled>
						</div>

						<div class="input-group mb-1">
							<span class="input-group-text"><b>Contraseña:</b></span>
							<input id="baja-pass" name="pass" type="text" class="form-control" placeholder="Contraseña de usuario"
							maxlength="20" disabled>
						</div>

						<div class="input-group mb-1">
							<span class="input-group-text"><b>Nombre:</b></span>
							<input id="baja-nombre" name="nombre" type="text" class="form-control" placeholder="Nombre(s)"
							maxlength="50" disabled>
						</div>

						<div class="input-group mb-1">
							<span class="input-group-text"><b>Cliente:</b></span>
							<input id="baja-cliente" name="cliente" type="number" class="form-control" placeholder="Número de cliente"
							maxlength="5" max="80000" disabled>
						</div>

						<div class="input-group mb-1">
							<span class="input-group-text"><b>E-mail:</b></span>
							<input id="baja-email" name="email" type="text" class="form-control" placeholder="Correo electrónico"
							maxlength="50" disabled>
						</div>

						<div class="input-group mb-1">
							<span class="input-group-text"><b>Fecha de Alta:</b></span>
							<input id="baja-fechaalta" name="fechaalta" type="date" class="form-control" placeholder="Fecha de Alta"
							value="" disabled>
						</div>
						
						<div class="input-group mb-1">
							<span class="input-group-text"><b>Fecha de Baja:</b></span>
							<input id="baja-fechabaja" name="fechabaja" type="date" class="form-control" placeholder="Fecha de Baja"
							disabled>
						</div>
						
						<div class="input-group mb-1">
							<span class="input-group-text"><b>Estatus:</b></span>
							<select id="baja-estatus" name="estatus" class="form-select" placeholder="A=Activo, B=Inactivo, R=Revocado" 
							disabled>
								<option value="A">A</option>
								<option value="B">B</option>
								<option value="R">R</option>
							</select>
						</div>
											
						<div class="input-group mb-1">
							<span class="input-group-text"><b>Intentos:</b></span>
							<input id="baja-intentos" name="intentos" type="number" class="form-control" placeholder="Intentos"
							value="0" disabled>
						</div>

						<div class="input-group mb-1">
							<span class="input-group-text"><b>Fecha de Revocado:</b></span>
							<input id="baja-fecharevocado" name="fecharevocado" type="date" class="form-control" placeholder="Fecha de Revocado"
							disabled>
						</div>
											
						<div class="input-group mb-1">
							<span class="input-group-text"><b>Fecha de Vigencia:</b></span>
							<input id="baja-fechaVigencia" name="fechaVigencia" type="date" class="form-control" placeholder="Fecha de Vigencia"
							disabled>
						</div>
											
						<div class="input-group mb-1">
							<span class="input-group-text"><b>No. Acceso:</b></span>
							<input id="baja-noAcceso" name="noAcceso" type="number" class="form-control" placeholder="Nombre de usuario"
							value="1" max="100" min="1" disabled>
						</div>
											
						<div class="input-group mb-1">
							<span class="input-group-text"><b>Apellido Paterno:</b></span>
							<input id="baja-apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno"
							maxlength="50" disabled>
						</div>					
						<div class="input-group mb-1">
							<span class="input-group-text"><b>Apellido Materno:</b></span>
							<input id="baja-apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno"
							maxlength="50" disabled>
						</div>					
						<div class="input-group mb-1">
							<span class="input-group-text"><b>Area:</b></span>
							<input id="baja-area" name="area" type="number" class="form-control" placeholder="Area"
							maxlength="4" max="9999" disabled>
						</div>		
						<div class="input-group mb-1">
							<span class="input-group-text"><b>Fecha de Modificación:</b></span>
							<input id="baja-fechamodificacion" name="fechamodificacion" type="date" class="form-control" placeholder="Fecha de Modificación"
							disabled>
						</div>	
				</div>
				<div class="card-footer bg-secondary text-light"> 
					<button id="baja-submit" class="btn btn-danger text-light w-100" type="submit"><b>Eliminar al usuario</b></button>
				</div>
			</form>
		</div>
	</div>
	
	<!-- SCRIPT NECESARIOS PARA CUANDO SE CARGA LA PÁGINA -->
	<script type="text/javascript">
		//AL INICIAR EL DOCUMENTO
		/*
		$(document).ready(function(){
				desactivarBoton("#alta-submit");
				desactivarBoton("#modif-submit");
				desactivarBoton("#baja-submit");

				quitarFoco("#alta-submit");
				quitarFoco("#modif-submit");
				quitarFoco("#baja-submit");				
		});
		*/
	</script>

	<script type="text/javascript" defer>
		//AL INICIAR EL DOCUMENTO
		$(document).ready(function(){
				//desactivarBoton("#alta-submit", true);
				//desactivarBoton("#modif-submit", true);
				//desactivarBoton("#baja-submit", true);

				//quitarFocos(["#alta-submit","#modif-submit","#baja-submit"]);
				quitarFocos(["#formAlta","#formModif","#formBaja"]);				
		});

		//variable global para las altas, bajas y modificaciones
		var usuario = {};

		//METODOS
		/* Func:
			Obtener los datos del formulario para generar un objeto JSON del mismo
		Param:
		- tipoParam: String => El ID del formulario (sea "alta" o "modif") 
		*/
		function generarUsuario(tipoForm){

			if(usuario != null || usuario != undefined){
				usuario = {};
			}

			console.log("*********"+tipoForm+"********");
			usuario.login 				=		$("#"+tipoForm+"-login").val();
			usuario.pass 				=		$("#"+tipoForm+"-pass").val();
			usuario.nombre 				=		$("#"+tipoForm+"-nombre").val();
			usuario.cliente 			=		$("#"+tipoForm+"-cliente").val();
			usuario.email 				=		$("#"+tipoForm+"-email").val();
			usuario.fechaalta 			=		$("#"+tipoForm+"-fechaalta").val();
			usuario.fechabaja 			=		$("#"+tipoForm+"-fechabaja").val();
			usuario.estatus 			=		$("#"+tipoForm+"-estatus").val();
			usuario.intentos 			=		$("#"+tipoForm+"-intentos").val();
			usuario.fecharevocado 		=		$("#"+tipoForm+"-fecharevocado").val();
			usuario.fechaVigencia 		=		$("#"+tipoForm+"-fechaVigencia").val();
			usuario.noAcceso 			=		$("#"+tipoForm+"-noAcceso").val();
			usuario.apellidoPaterno 	=		$("#"+tipoForm+"-apellidoPaterno").val();
			usuario.apellidoMaterno 	=		$("#"+tipoForm+"-apellidoMaterno").val();
			usuario.area 				=		$("#"+tipoForm+"-area").val();
			//usuario.fechamodificacion 	=		$("#"+tipoForm+"-fechamodificacion").val();

			console.log("fecha alta obtenida por el alta del usuario: ", usuario.fechaalta);

			//console.log("Usuario:\n",usuario);
			return usuario;
			/*
			console.log("*********ALTA********");
			console.log("email(input): ",$('input[type="email"]').val());
			console.log("date: ",$("#prb-date").val());
			console.log("datetime: ",$("#prb-datetime").val());
			console.log("datetime-local: ",$("#prb-datetime-local").val());
			console.log("month: ",$("#prb-month").val());
			console.log("range: ",$("#prb-range").val());
			console.log("reset: ",$("#prb-reset").val());
			console.log("time: ",$("#prb-time").val());
			console.log("week: ",$("#prb-week").val());
			console.log("tel: ",$("#prb-tel").val());
			*/
		}

		/* Func:
			Función que ejecuta AJAX para las peticiones hacia el Server
		Param:
		- verbo: String => Acción del Metodo HTTP 
		- url: String => Dirección URL
		- objeto: String => Datos del Body
		*/
		async function ajaxStart(verbo, url, objeto){
			console.log("accion: ",verbo);
			console.log("URL: ",url);
			console.log("Data: ",objeto);
			
			//Enviar un String como respuesta a JQuery: https://stackoverflow.com/questions/75509884/spring-controller-not-returning-valid-json

			return $.ajax({
				type: verbo,				
				contentType: 'application/json', // Especifica el tipo de contenido como JSON
				dataType: "json",//"text", //Especifica qcual es el tipo de Data que se espera recibir del Backend
				url: url,
				//data: JSON.parse(usuarioCredenciales),
				// 		jQuery convertirá este objeto a una cadena de consulta (o sea, lo serializará)
				//data: usuarioCredenciales,
				// 		Convierte el objeto a una cadena JSON
				data: JSON.stringify(objeto)  
			})
			.done( function (data, status, xhrData) {
					console.log("done()");
					console.log("data:\n", data); // Accede al cuerpo de la respuesta
					console.log("status: " + status);
					console.log("HTTP Status: " + xhrData.status);// Accede al estado HTTP de la respuesta
					console.log("headers: \n" + xhrData.getAllResponseHeaders());
					
					let titulo = "";
					if (xhrData.getResponseHeader("resultado") === "success") {
						titulo = "Mensaje";
					} else {
						titulo = "Error";
					} 

					//Editando el Modal
					/* Dos formas diferentes de llamar a un elemento dentro de un <div> u otro elemento

						1. Directa: Usando su ID del elemento interno
						2. Indirecta: Usando el ID del elemento contenedor y el "class" del 
						elemento interno.
					*/
					$("#modal-GestionUsuarios-body").text(data.mensaje);
					$("#modal-GestionUsuarios-Msj .modal-title").text(titulo);					

					//Mostrar el mensaje
					$("#modal-GestionUsuarios-Msj").modal("show");
				})
			.fail( function (xhrData, status, error) {
					console.log("fail()");					
					console.log("status: " + status);
					console.log("HTTP Status: " + xhrData.status);// Accede al estado HTTP de la respuesta
					console.log("Headers: \n" + xhrData.getAllResponseHeaders());
					console.log("Error Thrown: \n" + error);
					
					//Editando el Modal
					/* Dos formas diferentes de llamar a un elemento dentro de un <div> u otro elemento

						1. Directa: Usando su ID del elemento interno
						2. Indirecta: Usando el ID del elemento contenedor y el "class" del 
						elemento interno.
					*/
					let msj_body_error = "Resultado de la Operación: " + xhrData.resultado + "\n" +
										"Descripcion: " + xhrData.error + "\n" +
										"Causa (Backend): " + xhrData.causa + "\n" +
										"Causa (Frontend): " + error;
					$("#modal-GestionUsuarios-body").text(msj_body_error);
					$("#modal-GestionUsuarios-Msj .modal-title").text("Error Fatal");					

					//Mostrar el mensaje
					$("#modal-GestionUsuarios-Msj").modal("show");
				});//
			/*.always( function(data_or_xhr, status, xhr_or_error){
				let text1 = "", text2 = "", text3 = "";

				console.log("always() -> Entro");
				
				//Si: existe data_or_xhr.status -> es porque se ejecuto el "fail()"				
				if(data_or_xhr.status != undefined){
					// Accede al estado HTTP de la respuesta
					console.log("HTTP Status Code (Error): " + data_or_xhr.status);
					text1 = "XHR(Headers): ";
					text2 = "HTTP Status: ";
					text3 = "Error Thrown: ";
				}
				//Sino: -> "done()"
				else{
					text1 = "Data: ";
					text2 = "HTTP Status: ";
					text3 = "XHR (Headers): ";
				}
				console.log(text1, data_or_xhr);
				console.log(text2, status);
				console.log(text3, xhr_or_error);		
			});*/
		}

		/* Func:
			Formateador de las fechas en base a lo recibido por del Server. También
			se añade función de setear la hora en base a la Zona Horaria.
		Param:
		- fecha: Date => Fecha recibida del Back
		- modHora: Bool => Bandera para concadenar Hora y Minutos a la Fecha
		- modZonaHoraria: Bool => Bandera para concadenar y modificar la Zona Horaria

		NOTA: Solo formatea la fecha, cortando solo el dia-mes-año
		*/
		function formatearFecha(fecha, modHora, modZonaHoraria){
			/*
			ISO 8601 es el estándar internacional para la representación de fechas y horas. 
			La sintaxis ISO 8601 (yyyy-MM-DD) también es el formato de fecha preferido de JavaScript.

			## Formato
			UTC 		== Mon Jun 28 2021 08:30:00 GMT-0600 (Greenwich Mean Time)
			ISO String 	== 2024-04-16T04:18:09.000+00:00

			NOTA =
			- UTC (Universal Time Coordinated) es lo mismo que GMT (Greenwich Mean Time)
			- La fecha y la hora están separadas por T mayúscula. 
			- La hora UTC se define con una letra mayúscula Z.
			- Si desea modificar la hora relativa a UTC, elimine la Z y agregue +HH:MM o -HH:MM en su lugar
			- Z por defecto toma el valor de GMT+00:00
			*/
			if(fecha != null){
				let fechaFormateada = null, fechaResultado = null;
				//The specified value "2024-04-16T04:18:09.000+00:00" does not conform to the required format, "yyyy-MM-dd".

				let fechaDia = fecha.split('T')[0];
				let fechaHora = fecha.split('T')[1];

				//Modificando el formato del dia en la fecha (yyyy-MM-dd)
				fechaFormateada = fechaDia;

				//Modificando el formato de la hora en la fecha (HH:mm:ss)
				if(modHora == true){
					fechaFormateada += "T";
					fechaFormateada += fechaHora.substring(0, fechaHora.length - 6);
				}

				//Modificando la zona horaria
				if(modZonaHoraria != undefined && modHora == true){
					//Zona Horario con Date() y el campo Z
					if(modZonaHoraria == true){
						//Esto establece en la zona de GMT (00:00), para Mexico, CDMX sería (-06:00)
						fechaFormateada += "+00:00";
					}

					//Zona Horaria con Date.toLocaleString()
					if(modZonaHoraria == false){
						/*Zona Horaria con Date.toLocaleString()

						Para obtener la fecha y hora en la zona horaria específica de una región 
						puedes usar el método toLocaleString()
						
						El mismo recibe 2 parámetros opcionales:

						- locales: Un tipo String que contienen etiquetas de idioma y localidad
						con formato BCP 47 de la IETF.					
						- options: Un objeto que se utiliza para especificar propiedades, entre las 
						cuales se encuentra timeZone. Este atributo indica la zona horaria a usar.

						 	Su valor predeterminado es la zona horaria del cliente, pero se pueden 
						establecer valores que sean compatibles con la lista de zonas horarias de 
						la base de datos de la IANA.

						NOTA: Otras opciones de "options" pueden ser
						{ hour: 'numeric', hour12: false, minute: 'numeric', timeZoneName: 'short'}
						{year: 'numeric', month: '2-digit', day: '2-digit', weekday:"long", hour: '2-digit', 
							hour12: false, minute:'2-digit', second:'2-digit'}), //Genera -> 'Wednesday, 14/06/2023, 13:43:57'
						{hour: '2-digit', hour12: false, timeZone: "America/New_York"}),  // 09 (just the hour)

						Timezone de CDMX:
						America/Mexico
						*/
						let locale = "es-MX";
						let zonaHoraria = "America/Mexico_City";
						let formato12Hrs = true;
						let fechaConZonaHoraria = new Date(fechaFormateada)
							.toLocaleString(locale, {timeZone: zonaHoraria, hour12: formato12Hrs});
						console.log("fechaConZonaHoraria:", fechaConZonaHoraria, 
							"\nfecha-Actual", new Date(),
							"\nfecha Actual con timeZone", 
							new Date().toLocaleString(locale, {timeZone: zonaHoraria, hour12: formato12Hrs}));
					}

				}

				//Se puede crear fechas más especificas con Date.UTC()
				// new Date.UTC(year, month, day, hours, minutes, seconds, ms);

				return fechaFormateada;
			}
			return null;
		}

		/* Func:
			Se activa o desactiva u botón dado su ID para identificarlo
		Param:
		- idBtn: String => ID del Boton a desactivar
		- booleano: Bool => Bandera para activar/desactivar el botón
		*/
		function desactivarBoton(idBtn, booleano){
			$(idBtn).prop('disabled', booleano);
			return;
		}

		/* Func:
			Limpia un formulario dado su ID. Opcionalmente, se puede recuperar
		el valor del campo del segundo parametro con el fin de seguir mostrandolo
		después de la limpieza del formulario entero.
		Param:
		- id: String => ID del formulario a limpiar
		- idForKeep: String => ID del campo cuyo valor se desea conservar
		*/
		function limpiarFormulario(id, idForKeep){
			let formulario = $(id).get(0);			
			let login = "";

			if(idForKeep != null){
				login = $( idForKeep ).val();
			}

			//Usando reset() de Javascript Vanilla
			$(id).get(0).reset();

			if(idForKeep != null){
				//Recuperando el valor de la búsqueda del Login
				$( idForKeep ).val(login);
			}

			return;
		}


		function quitarFoco(id){
			$(id).blur();
			//alert("se quito foco de " + id);
		}

		function quitarFocos(arreglo){
			for (let i = 0; i < arreglo.length; i++) {
				
				const form = $(arreglo[i]);
				if (form != undefined) {
					form.on('keypress', function(e){
						if (e.which == 13) {
							e.preventDefault();
							alert("tecla Enter");
						}
					});				
				}
			}
		}

		//FORMULARIOS
		$("#formAlta").submit(function(event){
			//Previene el redireccionamiento de página
			event.preventDefault();

			desactivarBoton("#alta-submit", true);

			//Hacer la petición AJAX
			let verbo = "POST", url = "http://localhost:9010/registrar" /*"/registrar"*/, user = {}, ajaxResult =  null;						
			user  = generarUsuario("alta");					
			ajaxResult = ajaxStart(verbo, url, user);			

			//Limpia los campos del formulario
			limpiarFormulario("#formAlta");
			desactivarBoton("#alta-submit", false);
		});

		$("#modif-buscar").click(function(e){
			//Desactivar boton de busqueda en lo que se ejecuta su proceso
			desactivarBoton("#modif-buscar", true);

			//Declaracion de variables
			let url_getUsuarioByLogin = "http://localhost:9010/usuario/"; // URL = usuario/{login}
			let idUsuario = $("#modif-login-buscador").val().trim();

			if (idUsuario == undefined || idUsuario === "") {

				//Modificando el Modal para mostrar el mensaje
				$("#modal-GestionUsuarios-Msj .modal-title").text("Login inválido");
				$("#modal-GestionUsuarios-body").text("Favor de agregar un login (ID).");				

				//Mostrar el mensaje
				$("#modal-GestionUsuarios-Msj").modal("show");

				desactivarBoton("#modif-buscar", false);
				return;
			}

			url_getUsuarioByLogin += idUsuario;

			//AJAX
			$.ajax({
				type: "GET",				
				contentType: 'application/json', // Especifica el tipo de contenido como JSON
				dataType: "json",//"text", //Especifica qcual es el tipo de Data que se espera recibir del Backend
				url: url_getUsuarioByLogin
				/*
				ES UN GET, OBVIO NO TIENE BODY

				Pero si se le pueden serializar los paramteros (clave=valor&...&claveN=valorN)
				*/				
				//data: usuarioCredenciales, // jQuery convertirá este objeto a una cadena de consulta
				//data: JSON.stringify(objeto)  // Convierte el objeto a una cadena JSON
			})
			.done( function (data, status, xhrData) {
				console.log("done()");
				console.log("data:\n", data); // Accede al cuerpo de la respuesta
				console.log("status: " + status);
				console.log("HTTP Status: " + xhrData.status);// Accede al estado HTTP de la respuesta
				console.log("headers: \n" + xhrData.getAllResponseHeaders());

				if (xhrData.status == 204) {
					//Modificando el Modal para mostrar el mensaje
					$("#modal-GestionUsuarios-Msj .modal-title").text("Usuario no encontrado");
					$("#modal-GestionUsuarios-body").text("Favor de buscar otro login (ID).");				

					//Mostrar el mensaje
					$("#modal-GestionUsuarios-Msj").modal("show");

					desactivarBoton("#modif-buscar", false);
					limpiarFormulario("#formModif", "#modif-login-buscador");
					return;
				}

				$("#modif-login").val(data.login 		);
				$("#modif-pass").val(data.pass 		);
				$("#modif-nombre").val(data.nombre 	);
				$("#modif-cliente").val(data.cliente 	);
				$("#modif-email").val(data.email 		);
				
				console.log("fecha alta obtenida por el alta del usuario: ", data.fechaalta);
				let nva_fechaalta = formatearFecha(data.fechaalta);
				$("#modif-fechaalta").val(	nva_fechaalta	);
				
				let nva_fechbaja = formatearFecha(data.fechabaja);
				$("#modif-fechabaja").val(nva_fechbaja);
				
				$("#modif-estatus").val(data.estatus 	);
				$("#modif-intentos").val(data.intentos 	);
				
				let nva_fecharevocado = formatearFecha(data.fecharevocado);
				$("#modif-fecharevocado").val(nva_fecharevocado );

				let nva_fechaVigencia = formatearFecha(data.fechaVigencia);
				$("#modif-fechaVigencia").val(nva_fechaVigencia );

				$("#modif-noAcceso").val(data.noAcceso 	);
				$("#modif-apellidoPaterno").val(data.apellidoPaterno);
				$("#modif-apellidoMaterno").val(data.apellidoMaterno);
				$("#modif-area").val(data.area 		);

				//let nva_fechamodificacion = formatearFecha(data.fechamodificacion, true, false); //PARA TESTEAR
				let nva_fechamodificacion = formatearFecha(data.fechamodificacion);
				$("#modif-fechamodificacion").val(nva_fechamodificacion);
					
				desactivarBoton("#modif-buscar", false);
			})
			.fail( function (xhrData, status, error) {
				desactivarBoton("#modif-buscar", false);

				console.log("fail()");					
				console.log("status: " + status);
				console.log("HTTP Status: " + xhrData.status);// Accede al estado HTTP de la respuesta
				console.log("Headers: \n" + xhrData.getAllResponseHeaders());
				console.log("Error Thrown: \n" + error);

				//Modificando el Modal para mostrar el mensaje
				$("#modal-GestionUsuarios-Msj .modal-title").text("Datos no encontrados");
				$("#modal-GestionUsuarios-body").text("	No sé pudo encontrar datos sobre el login (ID) dado.");				

				//Mostrar el mensaje
				$("#modal-GestionUsuarios-Msj").modal("show");
				return;
			});//
		});
	
		$("#formModif").submit(function(event){			
			//Previene el redireccionamiento de página
			event.preventDefault();

			desactivarBoton("#modif-submit", true);			

			//Hacer la petición AJAX
			let verbo = "PUT", url = "http://localhost:9010/actualizar" /*"/actualizar"*/, user = {}, ajaxResult =  null;
			user  = generarUsuario("modif");			
			ajaxResult = ajaxStart(verbo, url, user);
			
			//Limpia los campos del formulario
			limpiarFormulario("#formModif", "#modif-login-buscador");
			desactivarBoton("#modif-submit", false);
		});

		$("#baja-buscar").click(function(e){
			//Desactivar boton de busqueda en lo que se ejecuta su proceso
			desactivarBoton("#baja-buscar", true);

			//Declaracion de variables
			let url_getUsuarioByLogin = "http://localhost:9010/usuario/"; // URL = usuario/{login}
			let idUsuario = $("#baja-login-buscador").val().trim();

			if (idUsuario == undefined || idUsuario === "") {

				//Modificando el Modal para mostrar el mensaje
				$("#modal-GestionUsuarios-Msj .modal-title").text("Login inválido");
				$("#modal-GestionUsuarios-body").text("Favor de agregar un login (ID).");				

				//Mostrar el mensaje
				$("#modal-GestionUsuarios-Msj").modal("show");

				desactivarBoton("#baja-buscar", false);
				return;
			}

			url_getUsuarioByLogin += idUsuario;
			//console.log(url_getUsuarioByLogin);

			//AJAX
			$.ajax({
				type: "GET",				
				contentType: 'application/json', // Especifica el tipo de contenido como JSON
				dataType: "json",//"text", //Especifica qcual es el tipo de Data que se espera recibir del Backend
				url: url_getUsuarioByLogin
				/*
				ES UN GET, OBVIO NO TIENE BODY

				Pero si se le pueden serializar los paramteros (clave=valor&...&claveN=valorN)
				*/				
				//data: usuarioCredenciales, // jQuery convertirá este objeto a una cadena de consulta
				//data: JSON.stringify(objeto)  // Convierte el objeto a una cadena JSON
			})
			.done( function (data, status, xhrData) {
				console.log("done()");
				console.log("data:\n", data); // Accede al cuerpo de la respuesta
				console.log("status: " + status);
				console.log("HTTP Status: " + xhrData.status);// Accede al estado HTTP de la respuesta
				console.log("headers: \n" + xhrData.getAllResponseHeaders());
				
				if (xhrData.status == 204) {
					//Modificando el Modal para mostrar el mensaje
					$("#modal-GestionUsuarios-Msj .modal-title").text("Usuario no encontrado");
					$("#modal-GestionUsuarios-body").text("Favor de buscar otro login (ID).");				

					//Mostrar el mensaje
					$("#modal-GestionUsuarios-Msj").modal("show");

					desactivarBoton("#baja-buscar", false);
					limpiarFormulario("#formBaja", "#baja-login-buscador");
					return;
				}


				$("#baja-login").val(data.login 		);
				$("#baja-pass").val(data.pass 		);
				$("#baja-nombre").val(data.nombre 	);
				$("#baja-cliente").val(data.cliente 	);
				$("#baja-email").val(data.email 		);
				
				let nva_fechaalta = formatearFecha(data.fechaalta);
				$("#baja-fechaalta").val(	nva_fechaalta	);
				
				let nva_fechbaja = formatearFecha(data.fechabaja);
				$("#baja-fechabaja").val(nva_fechbaja);
				
				$("#baja-estatus").val(data.estatus 	);
				$("#baja-intentos").val(data.intentos 	);
				
				let nva_fecharevocado = formatearFecha(data.fecharevocado);
				$("#baja-fecharevocado").val(nva_fecharevocado );

				let nva_fechaVigencia = formatearFecha(data.fechaVigencia);
				$("#baja-fechaVigencia").val(nva_fechaVigencia );

				$("#baja-noAcceso").val(data.noAcceso 	);
				$("#baja-apellidoPaterno").val(data.apellidoPaterno);
				$("#baja-apellidoMaterno").val(data.apellidoMaterno);
				$("#baja-area").val(data.area 		);

				//let nva_fechamodificacion = formatearFecha(data.fechamodificacion, true, false); //PARA TEST
				let nva_fechamodificacion = formatearFecha(data.fechamodificacion);
				$("#baja-fechamodificacion").val(nva_fechamodificacion);

				desactivarBoton("#baja-buscar", false);
					
			})
			.fail( function (xhrData, status, error) {
				desactivarBoton("#baja-buscar", false);

				console.log("fail()");					
				console.log("status: " + status);
				console.log("HTTP Status: " + xhrData.status);// Accede al estado HTTP de la respuesta
				console.log("Headers: \n" + xhrData.getAllResponseHeaders());
				console.log("Error Thrown: \n" + error);

				//Modificando el Modal para mostrar el mensaje
				$("#modal-GestionUsuarios-Msj .modal-title").text("Datos no encontrados");
				$("#modal-GestionUsuarios-body").text("	No sé pudo encontrar datos sobre el login (ID) dado.");				

				//Mostrar el mensaje
				$("#modal-GestionUsuarios-Msj").modal("show");
				return;
			});//
		});	
	
		$("#formBaja").submit(function(event){	
			//Previene el redireccionamiento de página
			event.preventDefault();

			desactivarBoton("#baja-submit", true);			

			//Hacer la petición AJAX
			let verbo = "DELETE",  user = {}, ajaxResult =  null;
			let idUsuario = $("#baja-login-buscador").val().trim();
			let url = "http://localhost:9010/eliminar/" + idUsuario; /* URL = /eliminar/{id} */						
			ajaxResult = ajaxStart(verbo, url, user);			

			//Limpia los campos del formulario
			limpiarFormulario("#formBaja", "#baja-login-buscador");
			desactivarBoton("#baja-submit", false);
		});
		
	</script>
</body>
</html>
<!-- AGREGAR LA LIMPIEZA DE LOS CAMPOS AL DAR SUBMIT EN ALTA, BAJA, MODIF
AGREGAR LA VALIDACION DE QUE SI NO SE ENCUENTRA USUARIO, MANDAR ALGO SERIALIZABLE Y NO UN NULL

¿Cómo puedo limpiar campos específicos en lugar de todos los campos de texto y áreas de texto?

¿Qué otros métodos puedo usar para limpiar campos de un formulario con jQuery?

¿Cómo puedo limpiar los campos de un formulario cuando se envía?

¿Cómo puedo deshabilitar el botón de envío después de enviar el formulario para evitar que se envíe varias veces?
-->