<!DOCTYPE html>
<html lang="es_MX" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tablero de Usuarios</title>
	
	<!-- Bootstrap - CSS - v5.3.3 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<!-- Bootstrap - JS - v5.3.3 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
	<!-- jQuery library -->
	<!-- script src="jquery-3.7.1.js"></script> -->
	<!-- <script src="./jquery-3.7.1.js"></script> -->
	<!-- <script src="js/jquery-3.7.1.js"></script> -->
	<!-- <script src="/Prueba_Tecnica_-_AdeA_Mexico/src/main/resources/templates/js/jquery-3.7.1.js"></script> -->
	<!-- <script src="D:/ec1lipse-workspace/Prueba-Tecnica-AdeA-Mexico/Prueba_Tecnica_-_AdeA_Mexico/src/main/resources/templates/js/jquery-3.7.1.js"></script> -->	
	
	<!-- JQuery 3.7.1-->
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<!-- Bootstrap - JS - v5.3.3 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	

</head>
<body>
	<div class="container text-center">
		<h1>Tablero de Usuarios</h1>	
	</div>
	&nbsp;&nbsp;&nbsp;
	
	<!-- VENTANA EMERGEMNTE - MODAL-->
	<div id="modal-Tablero-Msj" class="modal" >
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">

				<!-- Header -->
				<div class="modal-header text-start">

					<!-- "btn-close": Dibuja un botón de cierre en la esquina superior derecha
						"data-bs-dismiss:  modal" habilita la función del botón cerrar al Modal 
						"class=modal-title": Es el titulo del modal
					-->
					<h4 id="modal-Tablero-header" class="modal-title"></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Body -->
				<div id="modal-Tablero-body" class="modal-body">
					
				</div>

				<!-- Footer -->
				<div id="modal-Tablero-footer" class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
				</div>

			</div>
		</div>
	</div>

	<!--FORM EMERGENTE - MODAL -->
	<div id="modal-Tablero-Form" class="modal" >
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">

				<!-- Header -->
				<div class="modal-header text-start">

					<!-- "btn-close": Dibuja un botón de cierre en la esquina superior derecha
						"data-bs-dismiss:  modal" habilita la función del botón cerrar al Modal 
						"class=modal-title": Es el titulo del modal
					-->
					<h4 id="modal-Tablero-Form-header" class="modal-title"></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Body -->
				<div id="modal-Tablero-Form-body" class="modal-body">
					
				</div>

				<!-- Footer -->
				<div id="modal-Tablero-Form-footer" class="modal-footer">
					<button type="button" id="btn-modalForm-guardar" class="btn btn-success">Guardar</button>
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
				</div>

			</div>
		</div>
	</div>

	<!--PANEL DE BUSQUEDA-->
	<div class="ms-4 me-4 mb-1">
		<div class="card">
			<!--<form id="formModif" action="">-->
				<!-- CARD HEADER  CARD HEADER  CARD HEADER  CARD HEADER  CARD HEADER  CARD HEADER  CARD HEADER  CARD HEADER  CARD HEADER -->
				<div class="card-header bg-warning text-center"> 					
					<label class="form-label">
						Vista del <b>Tablero de Usuarios</b> por estatus de usuario y filtros de búsqueda 
						<br><br>
						Ingrese en los campos de búsqueda la información del o los usuarios que desea modificar y/o borrar y luego presione el botón 
						<b>"Buscar"</b> para recuperar la información. También p
						<br><br>						
						Cada registro tendrá las opciones de los botones de <b>"Modificar"</b> para cambiar datos del usuario y 
						de <b>"Borrar"</b> para eliminar el registro del usuario.
					</label> 
					<form id="form-busqueda" class="" >						     
						<div class="mb-2 mt-1 ms-2 me-2" >
							<div class="row">
								<span class="input-group-text col-4"><b>Nombre(s):</b></span>
								<span class="input-group-text col-4"><b>Ape. Paterno:</b></span>
								<span class="input-group-text col-4"><b>Ape. Materno:</b></span>
							</div>

							<div class="row">
								<input id="nombre-buscador" name="nombre" type="text" class="col-4" placeholder="Nombre(s) de usuario"
								maxlength="50">						
								<input id="ap-pat-buscador" name="ap-pat" type="text" class="col-4" placeholder="Apellido Paterno"
								maxlength="30">							
								<input id="ap-mat-buscador" name="ap-mat" type="text" class="col-4" placeholder="Apellido Materno"
								maxlength="30">
							</div>							
						</div>	
						<!--
							<div class="input-group w-75 mb-2 ms-">
								<span class="input-group-text"><b>Login:</b></span>
								<input id="login-buscador" name="login" type="text" class="form-control" placeholder="ID de usuario"
								maxlength="20" >
							</div>	
						-->
						<div class="mb-2 mt-1 ms-2 me-2" >
							<div class="row">
								<span class="input-group-text col-6"><b>Fecha Alta (Inicial):</b></span>
								<span class="input-group-text col-6"><b>Fecha Alta (Final):</b></span>								
							</div>
							<div class="row">					
								<input id="fechaalta-buscador" name="fechaalta" type="date" class="form-control w-50">														
								<input id="fechaAltaFinal-buscador" name="fechaAltaFinal" type="date" class="form-control w-50">
							</div>								
						</div>

						<div class="row mb-3">						
							<div class="col-2"><span class=""><b>Estatus:</b></span></div>
							<div class="col-10">
								
								<input id="estatus-a" name="estatus-a" value="A" type="checkbox" class="ms-3 me-3" checked>
								<label class="form-check-label" for="estatus-a">Activo (A)</label>

								<input id="estatus-b" name="estatus-b" value="B" type="checkbox" class="ms-3 me-3" checked>
								<label class="form-check-label" for="estatus-b">Inactivo (B)</label>

								<input id="estatus-r" name="estatus-r" value="R" type="checkbox" class="ms-3 me-3" checked>
								<label class="form-check-label" for="estatus-r">Reactivo (R)</label>
							</div>
						</div>
						<button id="btn-buscar" class="btn btn-info btn-outline-success text-light w-100" type="submit"><b>BUSCAR</b></button>
					</form>
				</div>

				<!-- CARD BODY  CARD BODY  CARD BODY  CARD BODY  CARD BODY  CARD BODY  CARD BODY  CARD BODY  CARD BODY --
				<div class="card-body bg-light">
					

				</div>

				!-- CARD FOOTER  CARD FOOTER  CARD FOOTER  CARD FOOTER  CARD FOOTER  CARD FOOTER  CARD FOOTER  CARD FOOTER  CARD HEADER --
				<div class="card-footer bg-secondary text-light">
					
				</div> -->
			<!-- </form> -->
		</div>
	</div>
	<br>
	
	<hr>
	<div id="text-contador"></div>
	<hr>

	<!-- table-responsive = Agrega un scrollbar de ser necesario -->
	<div class="table-responsive">
		<!-- 
			table-bordered = Agrega margenes a la tabla 
			table-striped = Agrega un efecto rayado a los registros 
			table-hover = Agrega un efecto de sombreado al seleccionar un registro	
		-->
		<table id="tbl-registros" class="table table-bordered table-striped table-hover">
			<thead id="tbl-registros-head" class="table-dark">
				<tr>
					<th>Nombre</th>
					<th>Login</th>
					<th>Fecha Alta</th>
					<th>Estatus</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody id="tbl-registros-body">
				
			</tbody>
		</table>
	</div>

	<!-- SCRIPT NECESARIOS PARA CUANDO SE CARGA LA PÁGINA -->
	<script type="text/javascript">		
		//Variables Universales
		var datos = undefined, datosModificar = {};		
		var urlObject = {};

		//AL INICIAR EL DOCUMENTO
		$(document).ready(function(){
			//Variables con info de la URL						
			urlObject.protocolo = window.location.protocol;// "http:" o "https:"
			urlObject.host = window.location.host;// Nombre del Host + Puerto
			urlObject.hostname = window.location.hostname;// Nombre del Host (ej. www.ejemplo.com)
			urlObject.puerto = getPuerto();// Numero del Puerto (ej. "80", "443" o "8080")
			urlObject.path = window.location.pathname;// Path de la URL (ej. "/ruta/pagin")
			urlObject.queryString = window.location.search;// Query string de la URL (ej. "?param1=valor1&param2=valor2")
			urlObject.hash = window.location.hash;// Fragmento de la URL (ej "#seccion1")
			urlObject.ancestorOrigins = window.location.ancestorOrigins;// Origen de la pag. anterior de donde vino la URL actual
			//Propiedades personalizadas basadas en propiedades previas
			urlObject.direccionFront = urlObject.protocolo + "//" + urlObject.host;// Direccion Web del Front (Protocolo + Host + Puerto)
			urlObject.puertoBack = 9010;// Puerto usado por el Servicio del BackEnd
			urlObject.direccionBack = urlObject.protocolo + "//" + urlObject.hostname + ":" + urlObject.puertoBack;// Direccion Web del Back (Protocolo + Host + Puerto)
			//Propiedades personalizadas auxiliares
			urlObject.customHostname = "www.com";// Host Web "Personalizada" del Back (ej. www.ejemplo.com, 192.168.0.1)
			urlObject.customPuerto = 0;// Puerto Web "Personalizada" del Back (ej. 8000, 8080, 8081)
			urlObject.customDireccion = urlObject.protocolo + "//" + urlObject.customHostname + ":" + urlObject.customPuerto;// Direccion Web Personalizada del Back (Protocolo + Host + Puerto)							
		});

		//METODOS
		
		/* Func:
			Se activa o desactiva u botón dado su ID para identificarlo
		Param:
		- idBtn: String => ID del Boton a desactivar
		- booleano: Bool => Bandera para activar/desactivar el botón
		*/		
		function desactivarBoton(idBtn, booleano){
			$(idBtn).prop("disabled", booleano);
			return;
		}
		
		/* Func:
			Formateador de las fechas en base a lo recibido por del Server. También
			se añade función de setear la hora en base a la Zona Horaria.
		Param:
		- fecha: Date => Fecha recibida del Back
		- modHora: Bool => Bandera para concadenar Hora y Minutos a la Fecha
		- modZonaHoraria: Bool => Bandera para concadenar y modificar la Zona Horaria

		NOTA: Solo formatea la fecha, cortando solo el dia-mes-año
		*/
		function formatearFecha(fecha, modHora, modZonaHoraria){
			/*
			ISO 8601 es el estándar internacional para la representación de fechas y horas. 
			La sintaxis ISO 8601 (yyyy-MM-DD) también es el formato de fecha preferido de JavaScript.

			## Formato
			UTC 		== Mon Jun 28 2021 08:30:00 GMT-0600 (Greenwich Mean Time)
			ISO String 	== 2024-04-16T04:18:09.000+00:00

			NOTA =
			- UTC (Universal Time Coordinated) es lo mismo que GMT (Greenwich Mean Time)
			- La fecha y la hora están separadas por T mayúscula. 
			- La hora UTC se define con una letra mayúscula Z.
			- Si desea modificar la hora relativa a UTC, elimine la Z y agregue +HH:MM o -HH:MM en su lugar
			- Z por defecto toma el valor de GMT+00:00
			*/
			if(fecha != null){
				let fechaFormateada = null, fechaResultado = null;
				//The specified value "2024-04-16T04:18:09.000+00:00" does not conform to the required format, "yyyy-MM-dd".

				let fechaDia = fecha.split('T')[0];
				let fechaHora = fecha.split('T')[1];

				//Modificando el formato del dia en la fecha (yyyy-MM-dd)
				fechaFormateada = fechaDia;

				//Modificando el formato de la hora en la fecha (HH:mm:ss)
				if(modHora == true){
					fechaFormateada += "T";
					fechaFormateada += fechaHora.substring(0, fechaHora.length - 6);
				}

				//Modificando la zona horaria
				if(modZonaHoraria != undefined && modHora == true){
					//Zona Horario con Date() y el campo Z
					if(modZonaHoraria == true){
						//Esto establece en la zona de GMT (00:00), para Mexico, CDMX sería (-06:00)
						fechaFormateada += "+00:00";
					}

					//Zona Horaria con Date.toLocaleString()
					if(modZonaHoraria == false){
						/*Zona Horaria con Date.toLocaleString()

						Para obtener la fecha y hora en la zona horaria específica de una región 
						puedes usar el método toLocaleString()
						
						El mismo recibe 2 parámetros opcionales:

						- locales: Un tipo String que contienen etiquetas de idioma y localidad
						con formato BCP 47 de la IETF.					
						- options: Un objeto que se utiliza para especificar propiedades, entre las 
						cuales se encuentra timeZone. Este atributo indica la zona horaria a usar.

						 	Su valor predeterminado es la zona horaria del cliente, pero se pueden 
						establecer valores que sean compatibles con la lista de zonas horarias de 
						la base de datos de la IANA.

						NOTA: Otras opciones de "options" pueden ser
						{ hour: 'numeric', hour12: false, minute: 'numeric', timeZoneName: 'short'}
						{year: 'numeric', month: '2-digit', day: '2-digit', weekday:"long", hour: '2-digit', 
							hour12: false, minute:'2-digit', second:'2-digit'}), //Genera -> 'Wednesday, 14/06/2023, 13:43:57'
						{hour: '2-digit', hour12: false, timeZone: "America/New_York"}),  // 09 (just the hour)

						Timezone de CDMX:
						America/Mexico
						*/
						let locale = "es-MX";
						let zonaHoraria = "America/Mexico_City";
						let formato12Hrs = true;
						let fechaConZonaHoraria = new Date(fechaFormateada)
							.toLocaleString(locale, {timeZone: zonaHoraria, hour12: formato12Hrs});
						console.log("fechaConZonaHoraria:", fechaConZonaHoraria, 
							"\nfecha-Actual", new Date(),
							"\nfecha Actual con timeZone", 
							new Date().toLocaleString(locale, {timeZone: zonaHoraria, hour12: formato12Hrs}));
					}

				}

				//Se puede crear fechas más especificas con Date.UTC()
				// new Date.UTC(year, month, day, hours, minutes, seconds, ms);

				return fechaFormateada;
			}
			return '';
		}		

		/* Func:
			Petición AJAX y la resolución de la promesa (a tráves de then())
		Param:
		- verbo: String => Tipo de verbo HTTP 
		- url_: String => Dirección URL de la petición 
		- objeto: ANY => Cuerpo de la petición
		*/
		async function ajax_With_Body_Exec(verbo, url_, objeto){
			let headers = {};

			if(verbo !== "GET"){
				objeto = JSON.stringify(objeto);
			}

			return $.ajax({
				type: verbo,
				contentType: "application/json",
				dataType: "json",
				url: url_,
				//------Convierte el objeto a una cadena JSON
				//data: JSON.stringify(objeto)
				//------jQuery convertirá este objeto a una cadena de consulta (o sea, lo serializará)
				data: objeto
			})
			.done( function (data, status, xhrData) {							
				//headers = xhrData.getAllResponseHeaders();
				headers = xhrData.getAllResponseHeaders();

			})
			.fail( function (xhrData, status, errorThrown){
				headers = xhrData.getAllResponseHeaders();
				headers.resultado = "fail";
			})//;
			/* RESUELVE LA PROMESA
			En este caso, se espera que la promesa se haya resuelto (resolve/success)
			y no rechazado (reject/fail).

			Lo que hace aquí "then()" es terminar de ejecutar la promesa done o fail,
			según sea el caso, y recibir los parametros de dicha promesa anterior.
			
			Este método es la cara del return, es decir, genera los valores 
			que van a ser devueltos por el método de la promesa $.ajax(), 
			aunque haya fallado o si haya funcionado.
			*/
			//.then(doneFilter(value, ...values),failFilter(),progressFilter())
			.then(function(value, textStatus, jqXHR){
				// Imprime los encabezados de la respuesta almacenados en "headers"
				console.log("Encabezados de la respuesta:", headers);

				//Imprime el valor de los parametros
				console.log("Value/Data:", value);
				console.log("Status:", textStatus);
				console.log("jqXHR:", jqXHR);

				//Objeto que engloba la data, textStatus y jqXHR.headers
				obj = {};

				//En caso de success
				if(textStatus == "success"){
					obj.data = value;
					obj.status = textStatus;
					obj.headers = headersToObject(jqXHR.getAllResponseHeaders());
				}
				//En caso de fail
				else{
					//XHRData (jqXHR)
					obj.headers = headersToObject(value.getAllResponseHeaders()); 
					//textStatus
					obj.status = textStatus;
					//errorThrown
					obj.data = jqXHR;
				}
				//Retorna una respuesta completa (body + headers)
				return obj;
			});
		}

		/* Func:
			Genera un JSON con los filtros de búsqueda que serán enviados al server			
		Param: N/A
		*/	
		function generarFiltros(){
			let filtros = {}, arrayEstatus = [], estatus = "";
			
			//Nombre Completo
			if($("#nombre-buscador").val() != null && $("#nombre-buscador").val().trim() != ''){
				filtros.nombre = $("#nombre-buscador").val();
			}
			if($("#ap-pat-buscador").val() != null && $("#ap-pat-buscador").val().trim() != ''){
				filtros.apellidoPaterno = $("#ap-pat-buscador").val();
			}
			if($("#ap-mat-buscador").val() != null && $("#ap-mat-buscador").val().trim() != ''){
				filtros.apellidoMaterno = $("#ap-mat-buscador").val();
			}
			//if($("#login-buscador").val() != null && $("#login-buscador").val().trim() != ''){
				//filtros.login = $("#login-buscador").val();
			//}
			if($("#fechaalta-buscador").val() != null && $("#fechaalta-buscador").val().trim() != ''){
				filtros.fechaalta = $("#fechaalta-buscador").val();			
			}
			if($("#fechaAltaFinal-buscador").val() != null && $("#fechaAltaFinal-buscador").val().trim() != ''){
				filtros.fechaAltaFinal = $("#fechaAltaFinal-buscador").val();			
			}

			//Estatus
			// prop("checked") => se obtiene si esta check i uncheck
			filtros.estatus = getEstatus();

			console.log("FILTROS",filtros);
			return filtros;
		}

		/* Func:
			Obtiene los checkboxes marcados y genera el valor del filtro estatus
		Param: N/A
		*/	
		function getEstatus (){
			let arrayEstatus = [];
			let text = "";

			let a_ = $("#estatus-a").is(":checked");
			if( $("#estatus-a").is(":checked") ){
				arrayEstatus.push( $("#estatus-a").val() );
			}

			let b_ = $("#estatus-b").is(":checked");
			if( $("#estatus-b").is(":checked") ){
				arrayEstatus.push( $("#estatus-b").val() );
			}

			let r_ = $("#estatus-r").is(":checked");
			if( $("#estatus-r").is(":checked") ){
				arrayEstatus.push( $("#estatus-r").val() );
			}

			if(arrayEstatus.length == 0){
				return undefined;
			}

			text = arrayEstatus.toString();
			/*la parte "/ " significa que es una expresion regultar que busca espacios, 
			y la "/g" significa que es global, es decir,
			busca todos los espacios en la variable. */
			text = text.replace("[","").replace("]","").replace(/ /g,'');

			return text;
		}		

		/* Func:
			Transforma en un objeto a los headers que vienen en formato de string
		Param: 
			texto = los headers de la respuesta del servidor (respuesta HTTP)
		*/	
		function headersToObject(texto){
			//Objeto donde se almacenará el string
			let objeto = {};
			
			//Partir el texto por saltos de linea
			let lineas = texto.split("\n");
			let clave_valor = "", clave = "", valor = "";
			
			for (let i=0; i<lineas.length; i++){
				//Parte la línea separandola por dos-puntos (:)
				clave_valor = lineas[i].split(":");
				
				clave = clave_valor[0];
				if(clave_valor[1] != undefined){
					valor = clave_valor[1].replace("\r","");
				}

				//Se agrega la propiedad al objeto
				if(clave != null && clave.length > 0){
					objeto[clave] = valor;
				}
			}

			return objeto;
		}

		/* Func:
			Generará dinamicamente los registros que se mostrarán en la tabla
		Param: 
		- datos : object[] => Los datos recuperados del server
		*/	
		function generarRegistros(datos){
			//Limpia los registros de la tabla
			$("#tbl-registros tbody").empty();

			//texto que se usara para generar los registros
			registros = "";

			for(let i = 0; i < datos.length; i++){
				registros +=
				"<tr>" +
					"<td>"+datos[i].nombre+" "+datos[i].apellidoPaterno+" "+datos[i].apellidoMaterno+"</td>" +
					"<td>"+datos[i].login+"</td>" +
					"<td>"+datos[i].fechaalta+"</td>" +
					'<td>'+datos[i].estatus+'</td>' +
					'<td>'+
						'<button id="'+datos[i].login+'-modificar" class="btn-modificar btn btn-danger btn-outline-info text-light w-50" type="button" value="'+datos[i].login+'"><b>Modificar</b></button>'+
						//'&nbsp;'+
						'<button id="'+datos[i].login+'-eliminar" class="btn-eliminar btn btn-warning btn-outline-dark text-light w-50" type="button" value="'+datos[i].login+'"><b>Eliminar</b></button>'+
					'</td>'+
				  "</tr>";
				
			}

			//Escribe el codigo HTML
			$("#tbl-registros tbody").html(registros);
		}

		/* Func:
			Elimina el registro tanto en el servidor como en front-end
		Param:
		- btnID: String => ID del botón (cuyo formato es "[ID del registro]"+"-eliminar")
		- url_: String =>  ID del regsitro
		*/
		function eliminarRegistroDelBack(btnID, btnValue){
			console.log("ELIMINAR - Se ha pulsado el boton con ID: " + btnID + " - valor:"+ btnValue);

			//Hacer la petición AJAX
			//let verbo = "DELETE",  user = {}, ajaxResult =  null;			
			let ajaxResult =  null, datosEliminar = {};			
			let url = urlObject.direccionBack+"/eliminar/" + btnValue;

			//ajaxResult = ajaxStart(verbo, url, objeto);	
			ajaxResult = ajax_With_Body_Exec("DELETE", url, undefined)
				//Valor de la funcion de RESUELTO de la Promesa
				.then(function onfulfilled(value){
					//Asigna los datos recuperados del Servidor a la var. externa
					datosEliminar = value;					
				}
				/*,
					//Valor de la funcion de RECHAZO de la Promesa
					//function onrejected(reason){}*/
				)
				//reason == MOTIVO del RECHAZO de la Promesa
				.catch(function onrejected(reason){				
					console.log("Razon de falla del servicio", reason);
					datosEliminar = reason;					
				})
				//Funcion que se ejecuta sin importar si se rechazo o resolvio la promesa
				.finally(function onfinally(){
					//Se comprueba si se asignaron correctamente
					console.log("Datos finales", datosEliminar);			

					//Pone el texto sobre cuantos elementos han sido recuperados
					datos.headers.cantidad = datos.headers.cantidad - 1;
					$("#text-contador").html("Se han encontrado <b>"+
						datos.headers.cantidad +"</b> registro(s)");

					mensajeModal(datosEliminar);						
				});

		}


		/* Func:
			Recupera el registro a modificar y con esos datos generara un 
			formulario para su edición a tráves de generarFormParaModificar()
		Param:
		- id: String => ID del botón (cuyo formato es "[ID del registro]"+"-eliminar")
		- value: String =>  ID del regsitro
		*/
		function modificarRegistroDelBack(id, value){
			console.log("MODIFICAR - Se ha pulsado el boton con ID:" + id + " - valor:"+ value);

			//Agregar ajax para recuperar los datos
			//Declaracion de variables
			let url_getUsuarioByLogin = urlObject.direccionBack+"/usuario/"; 
			//let datosModificar = {};

			// URL = usuario/{login}
			url_getUsuarioByLogin += value;

			ajax_With_Body_Exec("GET",url_getUsuarioByLogin)
			
			//Valor de la funcion de RESUELTO de la Promesa
			.then(function onfulfilled(value){
				//Asigna los datos recuperados del Servidor a la var. externa
				datosModificar = value;
				datosModificar.headers["resultado"] = "success";
			}
			/*,
				//Valor de la funcion de RECHAZO de la Promesa
				//function onrejected(reason){}*/
			)
			//reason == MOTIVO del RECHAZO de la Promesa
			.catch(function onrejected(reason){				
				console.log("Razon de falla del servicio", reason);
				datosModificar.headers["resultado"] = "fail";
			})
			//Funcion que se ejecuta sin importar si se rechazo o resolvio la promesa
			.finally(function onfinally(){
				//Se comprueba si se asignaron correctamente
				console.log("Datos finales > GET-Usuario ", datosModificar);
				if (datosModificar.headers.resultado == "success") {
					//agregar el form
					generarFormParaModificar(datosModificar);
				} else {					
					msjGenerico("Error","Fallo el modificar el registro en el Servidor");
				}
			});			
			//agregar el form
			//agregar otro boton para hacer el update
		}

		/* Func:
			Generará un formulario para la edición del registro. Posteriormente se manda
			el formulario a mensajeModalForm() para renderizarlo.
		Param:
		- datos: object => El registro (objeto) a modificar
		*/
		function generarFormParaModificar(datos){
			//Se muestra el mensaje de advertencia
			msjGenerico("<b>Advertencia</b>",'Si deja la <b>casilla de "Contraseña"</b> vacía, entonces la contraseña se conservará.<br>Si ingresa cualquier texto, entonces sustituirá.');

			let header = "";
			header = 
			'<div class="bg-warning text-center w-100"> ' +
			'	<b>Datos del Usuario encontrados</b>' +
			'</div>';

			let form = "";
			form = 
			'<form id="formModif" action="">' +
				/*'<div class="bg-warning text-center text-white"> ' +
				'	<h4><b>Datos del Usuario encontrados:</b></h4>' +
				'</div>' + */

				'<label class="form-label">'+					
						'<h6><b>Advertencia</b></h6>'+
						'Si deja la <b>casilla de "Contraseña"</b> vacía, entonces la contraseña actual se conservará.<br>'+
						'Si ingresa cualquier texto, entonces la sustituirá.' +
				'</label> ' +				
				
				'<hr class="hr">' +

				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Login:</b></span>' +
				'	<input id="modif-login" name="login" type="text" class="form-control" placeholder="Nombre de usuario"' +
				'	maxlength="20" value="'+datos.data.login +'" required readonly>' +
				'</div>' +

				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Contraseña:</b></span>' +
				'	<input id="modif-pass" name="pass" type="text" class="form-control" placeholder="Contraseña de usuario"' +
				'	maxlength="20"  value="' /*+datos.data.pass*/ +'">' +
				'</div>' +

				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Nombre:</b></span>' +
				'	<input id="modif-nombre" name="nombre" type="text" class="form-control" placeholder="Nombre(s)"' +
				'	maxlength="50"  value="'+datos.data.nombre +'" required>' +
				'</div>' +

				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Cliente:</b></span>' +
				'	<input id="modif-cliente" name="cliente" type="number" class="form-control" placeholder="Número de cliente"' +
				'	maxlength="5" max="80000"  value="'+datos.data.cliente +'" required>' +
				'</div>' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>E-mail:</b></span>' +
				'	<input id="modif-email" name="email" type="text" class="form-control" placeholder="Correo electrónico"' +
				'	maxlength="50"  value="'+datos.data.email +'" >' +
				'</div>' +

				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Fecha de Alta:</b></span>' +
				'	<input id="modif-fechaalta" name="fechaalta" type="date" class="form-control" placeholder="Fecha de Alta"' +
				'	 value="'+ formatearFecha(datos.data.fechaalta) +'" >' +
				'</div>' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Fecha de Baja:</b></span>' +
				'	<input id="modif-fechabaja" name="fechabaja" type="date" class="form-control" placeholder="Fecha de Baja"' +
				'	 value="'+ formatearFecha(datos.data.fechabaja) +'" >' +
				'</div>' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Estatus:</b></span>' +
				'	<select id="modif-estatus" name="estatus" class="form-select" placeholder="A=Activo, B=Inactivo, R=Revocado" ' +
				'	 value="'+datos.data.estatus +'" required>' +
				'		<option>A</option>' +
				'		<option>B</option>' +
				'		<option>R</option>' +
				'	</select>' +
				'</div>' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Intentos:</b></span>' +
				'	<input id="modif-intentos" name="intentos" type="number" class="form-control" placeholder="Intentos"' +
				'	value="0"  value="'+datos.data.intentos +'" required>' +
				'</div>' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Fecha de Revocado:</b></span>' +
				'	<input id="modif-fecharevocado" name="fecharevocado" type="date" class="form-control" placeholder="Fecha de Revocado"'+
				'	 value="'+ formatearFecha(datos.data.fecharevocado) +'" >' +
				'</div>' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Fecha de Vigencia:</b></span>' +
				'	<input id="modif-fechaVigencia" name="fechaVigencia" type="date" class="form-control" placeholder="Fecha de Vigencia"'+
				'	 value="'+ formatearFecha(datos.data.fechaVigencia) +'" >' +
				'</div>' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>No. Acceso:</b></span>' +
				'	<input id="modif-noAcceso" name="noAcceso" type="number" class="form-control" placeholder="Nombre de usuario"' +
				'	value="1" max="100" min="1"  value="'+datos.data.noAcceso +'" >' +
				'</div>' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Apellido Paterno:</b></span>' +
				'	<input id="modif-apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno"' +
				'	maxlength="50"  value="'+datos.data.apellidoPaterno +'" >' +
				'</div>					' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Apellido Materno:</b></span>' +
				'	<input id="modif-apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno"' +
				'	maxlength="50"  value="'+datos.data.apellidoMaterno +'" >' +
				'</div>					' +
				
				'<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Area:</b></span>' +
				'	<input id="modif-area" name="area" type="number" class="form-control" placeholder="Area"' +
				'	maxlength="4" max="9999"  value="'+datos.data.area +'" >				' +
				'</div>' +
				
				/* '<div class="input-group mb-1">' +
				'	<span class="input-group-text"><b>Fecha de Modificación:</b></span>' +
				'	<input id="modif-fechamodificacion" name="fechamodificacion" type="date" class="form-control" placeholder="Fecha de Modificación"' +
				'	 value="'+ formatearFecha(datos.data.fechamodificacion) +'" readonly>' +
				'</div>' + */
				
				/*'<div class="card-footer bg-secondary text-light">' +
				'	<button id="modif-submit" class="btn btn-warning text-dark w-100" type="button"><b>Modificar datos del Usuario</b></button>' +
				'</div>' +*/
			'</form>';

			mensajeModalForm(header, form, datos);
		}

		/* Func:
			Renderiza el formulario y habilita dos botones para su edición del registro o cancelar la operación.
		Param:
		- header: html => Codigo HTML para dibujar
		- body: html => Cuerpo del formulario para modificar el registro escogido
		- datos: objeto => El registro (objeto) a modificar (sin uso)
		*/
		function mensajeModalForm(header, body, data){
			//Editando el Modal
			/* Dos formas diferentes de llamar a un elemento dentro de un <div> u otro elemento

				1. Directa: Usando su ID del elemento interno
				2. Indirecta: Usando el ID del elemento contenedor y el "class" del 
				elemento interno.
			*/
			$("#modal-Tablero-Form-body").html(body);			
			$("#modal-Tablero-Form .modal-title").html(header);					

			//Mostrar el mensaje
			$("#modal-Tablero-Form").modal("show");
		}

		/* Func:
			Obtener los datos del formulario para generar un objeto JSON del mismo
		Param:
		- tipoParam: String => El ID del formulario (sea "alta" o "modif") 
		*/
		function generarUsuario(){
			let usuario = {};
			let tipoForm = "modif";//Parte del ID de cada componente del Form

			usuario.login 				=		$("#"+tipoForm+"-login").val();
			usuario.pass 				=		$("#"+tipoForm+"-pass").val();
			usuario.nombre 				=		$("#"+tipoForm+"-nombre").val();
			usuario.cliente 			=		$("#"+tipoForm+"-cliente").val();
			usuario.email 				=		$("#"+tipoForm+"-email").val();
			usuario.fechaalta 			=		$("#"+tipoForm+"-fechaalta").val();
			usuario.fechabaja 			=		$("#"+tipoForm+"-fechabaja").val();
			usuario.estatus 			=		$("#"+tipoForm+"-estatus").val();
			usuario.intentos 			=		$("#"+tipoForm+"-intentos").val();
			usuario.fecharevocado 		=		$("#"+tipoForm+"-fecharevocado").val();
			usuario.fechaVigencia 		=		$("#"+tipoForm+"-fechaVigencia").val();
			usuario.noAcceso 			=		$("#"+tipoForm+"-noAcceso").val();
			usuario.apellidoPaterno 	=		$("#"+tipoForm+"-apellidoPaterno").val();
			usuario.apellidoMaterno 	=		$("#"+tipoForm+"-apellidoMaterno").val();
			usuario.area 				=		$("#"+tipoForm+"-area").val();
			//usuario.fechamodificacion 	=	$("#"+tipoForm+"-fechamodificacion").val();			
			return usuario;
			
		}

		/* Func:
			Renderiza un modal para mostrar un determinado mensaje.
		Param:
		- data: object => Objeto con los datos a mostrar en el modal
		*/
		function mensajeModal(data){
			let titulo = "";
			if (data.headers["resultado"].trim() === "success") {
				titulo = "Mensaje";
			} else {
				titulo = "Error";
			} 

			msjGenerico(titulo, data.data.mensaje);
		}

		/* Func:
			Recoge los datos del formulario (filtros de busqueda) y hace la petición al server para recuperar los registros
			dinamicamente que se mostrarán en la tabla
		Param:
			N/A
		*/
		function generarTabla(){
			//Obtiene el cuerpo de los filtros a buscar
			let filtros = generarFiltros();			
			//console.log("filtros-JSON:\n",JSON.stringify(filtros),
			//	"\nfiltros-QueryString\n", $.param(filtros));

			//Peticion AJAX
			let verbo = "GET", url = urlObject.direccionBack+"/filtro";

			//Ejecuta el Ajax
			ajax_With_Body_Exec(verbo, url, filtros)
				
				//Valor de la funcion de RESUELTO de la Promesa
				.then(function onfulfilled(value){
					//Asigna los datos recuperados del Servidor a la var. externa
					datos = value;
				}
				/*,
					//Valor de la funcion de RECHAZO de la Promesa
					//function onrejected(reason){}*/
				)
				//reason == MOTIVO del RECHAZO de la Promesa
				.catch(function onrejected(reason){				
					console.log("Razon de falla del servicio", reason);
				})
				//Funcion que se ejecuta sin importar si se rechazo o resolvio la promesa
				.finally(function onfinally(){
					//Se comprueba si se asignaron correctamente
					console.log("Datos finales", datos);

					////Reactiva el boton para permitir las peticiones 
					desactivarBoton("#btn-buscar", false);

					//Pone el texto sobre cuantos elementos han sido recuperados
					$("#text-contador").html("Se han encontrado <b>"+
						datos.headers.cantidad +"</b> registro(s)");

					//Genera la tabla dinamicamente
					generarRegistros(datos.data);
				});
				

			/* NOTA:
			Este código se ejecutará inmediatamente después de que se inicie la solicitud AJAX,
			pero antes de que se resuelva (then() ) o se rechace (catch() ) la promesa devuelta
			 por ajax_With_Body_Exec()

			CONCLUSIONES
			> Primero se ejecuto todo lineal hasta antes de 'ajax_With_Body_Exec()'
			> Luego se ejecuto 'ajax_With_Body_Exec()' y se devolvió la promesa
				de $.ajax(), mas nunca se ejecutan 'then()', 'catch()' y 'finally()'
			> Se ejecuto el resto del bloque de código que esta después del 
				'ajax_With_Body_Exec()', es decir, desde 'desactivarBoton()' 
				hasta el final de este método
			> Finalmente se regreso a ejecutar a 'then()', 'catch()' y 'finally()',
				que son los métodos concadenados con 'ajax_With_Body_Exec()', 
				es decir, son los métodos de la promesa $.ajax().
			*/
			////Reactiva el boton para permitir las peticiones 
			desactivarBoton("#btn-buscar", false);		
		}

		/* Func:
			Despliega un mensaje Modal
		Param:
		- titulo: String => Titulo de la ventana Modal
		- msj: String => Mensaje de la ventana Modal
		*/
		function msjGenerico(titulo, msj){
			//Editando el Modal			
			$("#modal-Tablero-Msj .modal-title").html(titulo);
			$("#modal-Tablero-body").html(msj);

			//Mostrar el mensaje
			$("#modal-Tablero-Msj").modal("show");			
		}

		/* Func:
			Obtiene el puerto que esta usando el FrontEnd.
		Param:
		N/A
		*/
		function getPuerto(){
			// Obtener el puerto actual en el que está escuchando la aplicación web
			let puerto = window.location.port;

			/* NOTA:
			Si la aplicación está usando el puerto por defecto para HTTP (80) o 
			HTTPS (443), la propiedad "window.location.port" puede devolver 
			una cadena vacía. 
			
			En ese caso, se puede comprobar el esquema http/https (window.location.protocol)
			para inferir el puerto usado.
			*/

			//Si el puerto no contiene datos
			if(!puerto){
				//Se usa el protocolo HTTP
				if(window.location.protocol == "http:"){
					puerto = 80;	
				}
				//Se usa el protocolo HTTPS
				else if(window.location.port == "https:"){
					puerto = 443;
				}
			}
			return puerto;
		}


		//FORMULARIOS
		$("#form-busqueda").submit(function(e){
			//Previene el redireccionamiento de página
			e.preventDefault();

			//Desactiva el boton para no generar peticiones repetidas
			desactivarBoton("#btn-buscar", true);

			generarTabla();
		});
		
		$("#tbl-registros").on('click','.btn-modificar', function(event, otros){
			console.log("this.id:", $(this).prop('id'), " this.value:", $(this).prop('value'));
			
			/*$(this) apunta hacía el botón que se dió 'click' y no a la tabla, 
			debe ser como una propiedad si nos basamos en la POO: #tbl-registros -> .btn-eliminar */			
			let btnID = $(this).prop('id');
			let btnValue = $(this).prop('value');
			modificarRegistroDelBack(btnID, btnValue);
		});

		$("#tbl-registros").on('click','.btn-eliminar', function(event, otros){
			console.log("this.id:", $(this).prop('id'), " this.value:", $(this).prop('value'));
			
			/*$(this) apunta hacía el botón que se dió 'click' y no a la tabla, 
			debe ser por lo de: #tbl-registros -> .btn-eliminar */			
			let btnID = $(this).prop('id');
			let btnValue = $(this).prop('value');
			eliminarRegistroDelBack(btnID, btnValue);

			//Eliminar el <tr> más cercano al botón dentro del DOM, 
			//en este caso el del propio registro contenedor
			$("#"+btnID).closest("tr").remove(); 
			//$(this).closest('tr').remove();
		});

		//Cómo este Modal se crea dinamicamente, se pondrá esta función
		$("#modal-Tablero-Form").on('click','#btn-modalForm-guardar', function(event){			
			//Obtiene los datos del usuario modificado
			let usuario = generarUsuario();
			
			//Hacer la petición AJAX
			let verbo = "PUT", url = urlObject.direccionBack+"/actualizar";
			
			//Ejecuta el Ajax
			ajax_With_Body_Exec(verbo, url, usuario)
				
				//Valor de la funcion de RESUELTO de la Promesa
				.then(function onfulfilled(value){
					//Asigna los datos recuperados del Servidor a la var. externa
					datosModificar = value;
					datosModificar.headers["resultado"] = "success";
				}
				/*,
				//Valor de la funcion de RECHAZO de la Promesa
				function onrejected(reason){
						datosModificar = reason;	
					}*/
				)
				//reason == MOTIVO del RECHAZO de la Promesa
				.catch(function onrejected(reason){				
					console.log("Razon de falla del servicio", reason);
					datosModificar = reason;
					datosModificar.headers = {};
					datosModificar.headers["resultado"] = "fail";
				})
				//Funcion que se ejecuta sin importar si se rechazo o resolvio la promesa
				.finally(function onfinally(){
					//Se comprueba si se asignaron correctamente
					console.log("Datos finales de ModificarForm", datosModificar);
		
					////Reactiva el boton para permitir las peticiones 
					desactivarBoton("#btn-buscar", false);								
		
					//Regenera la tabla dinamicamente
					generarTabla();

					//Oculta el modal
					$("#modal-Tablero-Form").modal('hide');
					
					//Muestra a Mensaje-Modal para informar que se actualizo
					mensajeModal(datosModificar);
				});
		

			
		});
	</script>
</body>
</html>